<%- include('../partials/header'); -%>

<%- include('../partials/nav'); -%>

<div class="container">
    <%- body %>
    
    Sidebar
    <%- defineContent('sidebar') %>
</div>

<%- include('../partials/footer'); -%>